<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
        <h2>For daily</h2>
            <p>"http://127.0.0.1:5000/show/daily/rial"</p>
            <p>"http://127.0.0.1:5000/show/daily/toman"</p>
        <h2>For weekly</h2>
            <p>"http://127.0.0.1:5000/show/weekly/rial"</p>
            <p>"http://127.0.0.1:5000/show/weekly/toman"</p>
        <h2>For monthly</h2>
            <p>"http://127.0.0.1:5000/show/monthly/rial"</p>
            <p>"http://127.0.0.1:5000/show/monthly/toman"</p>
        <h2>For yearly</h2>
            <p>"http://127.0.0.1:5000/show/yearly/rial"</p>
            <p>"http://127.0.0.1:5000/show/yearly/toman"</p>


</html>